/* General body styling with a fixed background image */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Fallback font */
    background-image: url('images/background.png'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

header {
    background: linear-gradient(to bottom, rgb(86, 86, 86), rgba(255, 255, 255, 0)); /* Black to transparent */
    text-align: center;
    position: relative;
    font-family: 'Bodoni72', Arial, sans-serif; /* Custom font for header */
    height: 15vh; /* Set header height to 15% of the viewport height */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light hover color */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); /* Feathered shadow */
    color: #000; /* Text turns black on hover */
    outline: none;
}

/* Ensure the container has dimensions */
.name-container {
    position: relative;
}

/* All images should be absolutely positioned within the container */
.image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;    
}


/* Footer styling */
footer {
    background: linear-gradient(to top, rgb(122, 122, 122), rgba(255, 255, 255, 0)); /* Transparent to black */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    font-family: 'Bodoni72', Arial, sans-serif; /* Custom font for footer */
    position: relative;
    bottom: 0;
}
